# --------- hydra --------- #
hydra-core==1.1.0
hydra-colorlog==1.0.0
hydra-optuna-sweeper==1.1.1
hydra-joblib-launcher~=1.1.5

# --------- others --------- #
wandb
numpy
pandas
matplotlib
scikit-learn
seaborn
rich
tqdm
sktime
scipy
PyYAML
mypy
Pillow
flake8
pytest
catboost
flatten-dict
mlflow
shap
tsfresh
line-profiler
esig